<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <meta charset="UTF-8">
    <title>Hello</title>

    <!-- https://cdnjs.com/libraries/sockjs-client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <!-- https://cdnjs.com/libraries/stomp.js/ -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
    <div class="title">
        <p th:text="${title}">Hello, World!</p>
        <img th:src="@{/pictures/sheep_logo.png}" alt="">
    </div>

    <div class="chat">

        <p id="connecting">Connecting...</p>
        <ul id="messageArea">
        </ul>

        <form style="display: none" id="messageForm" name="chat">
            <label>
                <input type=text id="username" placeholder="Name"/>
                <input type=text id="message" autocomplete="off" placeholder="Message"/>
                <button type="submit">&#10162</button>
            </label>
        </form>

    </div>

    <script th:src="@{/js/index.js}"></script>
</body>
</html>